extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Lee Vaughn
        p Full-Stack JavaScript Developer, Problem Solver, Pizza Lover
        .about-bio
          p 
            | I am a Full-Stack JavaScript Developer looking for opportunities to use and grow my programming skills.
            | Before becoming a Developer, I spent over 20 years in hospitality management. My experience managing hotel
            | and casino operations has given me a wide array of soft skills like critical thinking, time management, and
            | team building. These skills and others make me more than just the code I write. They make me a well-rounded
            | person capable of contributing to the success of a team in a variety of ways. When I am not writing simple 
            | yet elegant code, I enjoy spending time at the beach with my lovely wife, cheering on the best NHL expansion
            | team ever (Go Golden Knights!), and of course, enjoying a delicious pepperoni pizza. 
      .skills-contact-box.box
        h6 Skills
        ul
          li JavaScript
          li Node.js
          li React
          li jQuery
          li Express 
          li Bootstrap
          li MongoDB
          li SQL
          li GitHub
          li Pug

        h6 Contact Info
        ul
          li 702-555-1234
          li dlvprogramming@gmail.com
        a.btn-link(href="https://www.linkedin.com/in/lee-vaughn/", target="_blank") LinkedIn
        a.btn-link(href="https://github.com/LeeVaughn", target="_blank") GitHub
        a.btn-link(href="https://twitter.com/DLVProgramming", target="_blank") Twitter
    nav.nav
      a(href='/')
        span &larr;
        |  Back